{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>Name: {{ user.name }}</p>
    <p>Age: {{ user.age }}</p>
    <p>Famille: {{ user.family }}</p>
    <p>Race: {{ user.race }}</p>
    <p>Food: {{ user.food }}</p>
</div>
