<!DOCTYPE html>
<html ng-app="Marsupilami" ng-init="myText='Hello World!'">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Welcome!{% endblock %}
    </title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>

<body>
{% if is_granted('ROLE_USER') %}
    Welcome To Safari
    <a href="{{ path('fos_user_security_logout') }}">Logout</a>
    <a href="{{ path('fos_user_profile_edit') }}">Edit profile</a>
    <a href="/friends">Add Friends</a>
{% else %}
    <a href="/register">Register</a>
    <a href="{{ path('fos_user_security_login') }}">Login</a>
{% endif %}
<ng-view></ng-view>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

<script src="{{ asset('build/app.js') }}"></script>
<script src="{{ asset('build/controllers.js') }}"></script>
</body>
</html>