<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <div class="control-group">
        <div class="control-label">
            <label disabled="disabled" autofocus="autofocus" class="labelformEmail required" for="change_email_current">Adresse
                e-mail actuelle</label>
        </div>
        <div class="controls">
            <input id="change_email_current" name="change_email[current]" required="required" disabled="disabled"
                   class="inputformEmail" value="{{ app.user.email }}" type="email"/>
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            {{ form_label(form.user) }}
        </div>
        <div class="controls">
            {{ form_widget(form.user) }}
        </div>
    </div>

    <div class="control-group">
        <div class="control-label">
            {{ form_label(form.current) }}
        </div>
        <div class="controls">
            {{ form_widget(form.current) }}
        </div>
    </div>

    {{ form_rest(form) }}

    <div class="control-group">
        <div class="control-label">
        </div>
        <div class="controls">
            <button type="submit" class="btn">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
        </div>
    </div>
</form>