{% extends 'base.html.twig' %}
{% block title %}
    Hello friends
{% endblock %}

{% block body %}
    <h1>Your friends !</h1>
    {% if friends is empty %}
        <p>Pas encore d'amis :(</p>
    {% else %}
        {% for friend in friends %}
            <p> {{ friend }}</p>
        {% endfor %}
    {% endif %}
    {% for user in users %}
        <form method="POST" name="form" action="addFriends">
            <div>
                <p>
                    {{ user.name }}
                </p>
                <input type="hidden" name="id" value="{{ user.id }}">
                <button name="add" id="{{ user.id }}">Ajouter en ami</button>
            </div>
        </form>
        <form method="POST" action="removeFriends">
            <div>
                <input type="hidden" name="id" value="{{ user.id }}">
                <button name="add" id="{{ user.id }}">Supprimer cet ami</button>
            </div>
        </form>
    {% endfor %}
{% endblock %}